.clients-section {
  padding-top: 94px;

  &__list {
    display: flex;
  }
}
.clients-section .section-title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.clients-section__link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color var(--main-duration)
    var(--main-trans-timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-section__icon {
  fill: #afb1b8;
  transition: fill var(--main-duration) var(--main-trans-timing-function);

  .clients-section__link:hover &,
  .clients-section__link:focus & {
    fill: var(--accent-color);
  }
}

.clients-section__container:hover,
.clients-section__container:focus {
  border-color: var(--accent-color);
}

.clients-section__item:not(:last-child) {
  margin-right: 30px;
}
