.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 400px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: 1px solid black;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-phone.jpg");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-phone@2x.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-tablet.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-tablet@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero@2x.jpg");
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  color: var(--white-text-color);
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  min-width: 200px;
  transition: background-color var(--main-duration)
    var(--main-trans-timing-function);

  &:hover {
    background-color: #188ce8;
  }
}
