.backdrop {
  position: fixed;
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
  transition: opacity var(--main-duration) var(--main-trans-timing-function),
    visibility var(--main-duration) var(--main-trans-timing-function);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);

  &__button {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: var(--white-text-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__icon {
    width: 11px;
    height: 11px;
  }

  &__order-form {
    appearance: none;
  }

  &__order-title {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text-color);
  }
}
.modal__order-field {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}
.modal__order-input {
  margin-top: 4px;
  margin-bottom: 10px;
  position: relative;
}

.modal__order-input-field {
  display: block;
  color: var(--primary-text-color);
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--main-duration) var(--main-trans-timing-function);

  &:focus,
  &:focus + .modal__order-icon {
    fill: var(--accent-color);
    outline-color: var(--accent-color);
  }
}

.modal__order-label {
  display: block;
  color: var(--primary-text-color);
}
.modal__order-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--main-duration) var(--main-trans-timing-function);
}
.modal__order-comment {
  display: block;
  margin-top: 4px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;

  &:focus {
    outline-color: var(--accent-color);
  }
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-checkbox {
  display: flex;
  margin-bottom: 30px;
}
.modal__checkbox-label,
.modal__policy-link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.modal__policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}
.modal__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  &-icon {
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 4px;
    transition: border-color var(--main-duration)
        var(--main-trans-timing-function),
      background-color var(--main-duration) var(--main-trans-timing-function),
      400ms var(--main-trans-timing-function);
  }

  &:checked + .modal__checkbox-icon {
    background-color: var(--accent-color);
    background-image: url(../images/icon_check.svg);
    background-size: contain;
    border-color: var(--accent-color);
    background-origin: border-box;
  }
}

.modal__submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  width: 200px;
  transition: background-color var(--main-duration)
    var(--main-trans-timing-function);

  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
