body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bg-color);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

a,
img {
  display: block;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

.section {
  margin-bottom: 60px;

  @media (min-width: 1200px) {
    margin-bottom: 94px;
  }
}

.section-title,
.section-subtitle {
  color: var(--secondary-text-color);
}
