:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-duration: 250ms;
  --main-trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
